html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav.navbar-default {
    background-color: #F6F6F6;
    border-bottom: 1px solid #DDDDDD;
}

.side-bar {
    border-right: 1px solid #DDDDDD;
    height: 100%;
    padding: 15px;
}

.twitter-typeahead {
    width: 100%;
}